.one{

position: relative;
top: 170px;
left: 80px;
font-family: Helvetica;
color: blue;
font-size: 30px;


}

.two{
    font-size: 35px;
    color: black;
    position: relative;
    top: 130px;
    left: 80px;
}

.three{
    float: right;
    background-color: rgb(243, 247, 247);
    height: 370px;
    width: 400px;
    position: relative;
    right: 30px;
    bottom: 160px;

}

.four{
    position: relative;
    top: 10px;
    left: 10px;
    height: 27px;
    width: 350px;
    border-radius: 6px;
    margin: 6px;
    border: 1px solid rgb(199, 198, 198);
    padding: 10px;
}

.five{
    position: relative;
    left: 20px;
    top: 20px;
    background-color: rgb(43, 43, 236);
    color: white;
    height: 50px;
    width: 365px;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 6px;
}

.six{
    position: relative;
    top: 30px;
    text-align: center;
    font-family: Helvetica;
    text-decoration: none;

}

.seven{

    position: relative;
    left: 81px;
    top: 65px;
    background-color: rgb(16, 202, 100);
    color: white;
    height: 50px;
    width: 250px;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 6px;

}